
.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 50px;
  padding: 150px ;
}

.headerNavItem{
  text-decoration: none;
    margin-right: 24px;
    color: #000738; bold;
    font-size: 30px;
}

.fotoperfil img {
  border-radius: 180%;
  height: 120px;
  width: 120px;
  transition: transform .3s;
}

.fotoperfil img:hover {
    transform: scale(1.8);

}

@media only screen and (max-width:480px){
  .header{
      padding:25px;
      flex-wrap: wrap;
  }

  .fotoperfil img {
    border-radius: 180%;
    height: 40px;
    width: 40px;
    transition: transform .3s;
    

  }
  .headerNavItem{
    text-decoration: none;
    font-size: 15px;
    display: flex;
      
  }
  .headerlinks svg{
      width: 25px;
      height: 25px;
      display: flex;
  }

  
}
