/* estilo diretamente diretamente nas tags */
body {
  background-color: #f2f3f4;
  padding: 0;
  margin: 0 auto;
  color: black;
  font-family: "Montserrat", sans-serif;
}

header {
  justify-content: space-between;
  background-color: #0b0c0e;
  color: #fff;
  position: fixed;
  width: 100%;
}
nav ul {
  display: flex;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

li a:hover {
  color: #00d5ff;
}

/* estilo em classes  */
.header {
  max-width: 1366px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.logo {
  font-size: 48px;
  color: #fff;
}

.text-blue {
  color: #00d5ff;
  font-weight: bold;
}

.logo-color {
  font-size: 48px;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
}

/* estilos em ID */
#produtos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

#produtos h3 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

/* exemplo 1 */
.tabela-produtos {
  border-spacing: 40px;
  border-collapse: separate;
}

.tabela-produtos p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

/* exemplo 2 */
/* .produto {
  padding: 20px;
} */

/* .produto p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
} */

#sobre {
  background-color: #0b0c0e;
  color: #fff;
  padding: 40px 0;
}

#sobre table {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  border-spacing: 40px;
}

#orcamento {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

#orcamento h2 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#orcamento form {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 1366px;
}

.form-section input {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  outline: none;
  border: 1px solid #ccc;
}

.form-section input:focus {
  outline: none;
  border: 2px solid #00d5ff;
}

.form-section select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  outline: none;
  border: 1px solid #ccc;
}

.form-section select:focus {
  outline: none;
  border: 2px solid #00d5ff;
}

.form-section textarea {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  resize: none;
}

.form-section textarea:focus {
  outline: none;
  border: 2px solid #00d5ff;
}

form button {
  padding: 10px 20px;
  background-color: #00d5ff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

form button:hover {
  background-color: #00a8cc;
}

#contato {
  background-color: #0b0c0e;
  color: #fff;
  padding: 60px 0;
}

#contato h2 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

#contato div {
  width: 1366px;
  margin: 0 auto;
}

.text-bold {
  font-weight: bold;
}

footer {
  background-color: #00d5ff;
  color: black;
  padding: 60px 0;
  text-align: center;
}