/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* inicio do CSS */


.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  
  color: white;
}
.meu {
  color: white;
  font-size: 30px;
}
.game {
  color: #00d5ff;
  font-size: 30px;
}
.navegacao a{
  color: white;
}
.navegacao a:hover {
  transform: scale(1.1);
  color: green;
}
.banner {
  width: 100%;
}

body {
  font-family: montserrat, sans-serif;
}
.nossosprodutos {
  background: #f2f3f4;
  text-align: center;
  padding: 80px;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.produto_container{
  background: #f2f3f4;
  width: 100%;
}

.coluna {
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
  
}
.coluna p{
  text-align: center;

}
.coluna img{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 300px;
}
.coluna div p{
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}
.sobre {
  background: #0b0c0e;
  color: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sobre img {
  padding: 20px 20px 20px 20px;
}
.sobre h2 {
  color: #00d5ff;
  
}
.sobre h4{
  color: #00d5ff;
}

.article{
  background:#F2F3F4;
  textalign: center;
  width: 100%;
}
.article p {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.address h2{
  color: darkblue;
  font-weight: bold; 
  font-size: 20px;
}
.address{
  color: black;
  font-weight: bold; 
  
}
.form{
  width:100%;
}
.form div{
  display:flex;
  flex-direction: column;
}
.form div select{
  width: 100%;
}
.form label{
  color: black;
  font-weight: bold;
}
.form bottom{
  padding: 100px;
}

#file{
  padding:10px;
  background: white;
}
.containerInfo{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.footer {
  background: #00d5ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


/*
Cores:
Título: #00D5FF
Subtítulo: #424650
Header: #0B0C0E
Produtos: #F2F3F4
Sobre: #0B0C0E
Orçamento: #F2F3F4
Rodapé: #00D5FF
Branco: #ffffff

*/